.body{
    margin: 0;
    padding: 0;
}
.topBody{
    display: flex;
    margin: 0;
    padding: 0;
}
.bgImg{
    position: relative;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:0 0 3rem 0;
    width: 100vw;
    /* height: 100vh; */
    z-index: 0;
    /* height: 100%; */
}
.img{
    /* object-fit: contain; */    
    width: 100%;
    height: 100%;
}

.statusBox{

    position: absolute;
    top: 10px;
    display: flex;
    justify-content: space-between;
    width: 85%;
    align-items: center;
    color: white;
    font-weight: 600;
}

.otherstatus{
    display: flex;
    justify-content: space-between;
}
.stIcon{
    margin-right: 5px;
}

.welcome{
    position: absolute;
}
.welcome{
    top: 3rem;
    text-align: start;
    width: 85%;
    color: rgba(235, 233, 238, 0.734);
    font-weight: 700;
}
.welcome span {
    color: rgb(255, 255, 255);
}
.creditBox{
    top: 5rem;
    padding: 1rem 0;
    width: 85%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.49);
}
.top{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}
.countbox{
    text-align: start;
}
.ctext{
    color: yellow;
    font-weight: 700;
}
.count{
    color: white;
    font-weight: 800;
    font-size: 1.5rem;
}

.bottom{
    /* border: 1px solid white; */
    padding: 10px 1.3rem;
    top: 5.5rem;
    width: 89.5%;
    border-radius: 0 0 10px 10px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.49);
}
.creditBox hr{
    width: 100%;
}
.container{
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}
.price{
    color: white;
    font-weight: 600;
}

.imgBox{
    position: absolute;
    top: 14rem;
}

.rankBox{
    position: absolute;
    top: none;
    bottom: 10rem;
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-weight: 600;
    font-size: 1.5rem;
}
.box{
    display: flex;
    align-items: center;
}
.trophy{
    color: yellow;
    margin-right: 10px;
}

.boostBox{
    position: absolute;
    top: none;
    bottom: 6rem;
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-weight: 600;
    font-size: 1.5rem;
}
.rocket{
    color: white;
    margin-right: 10px;
}
.box2{
    display: flex;
    align-items: center;
    padding: 10px 1rem;
    border-radius: 3rem;
    background-color: blue;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 5px;
    width: 85%;
    padding: 10px 1rem;
    border-radius: 3rem;
    background-color: rgba(35, 34, 34, 0.437);
    cursor: pointer;
}
.container2{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nav{
    color: white;
    /* font-size: 1.5rem; */
    font-weight: 600;
    margin-top: 2px;
}